html,body{
    font-family: 'Quicksand', sans-serif;
   color: #FFFFFF;
   /* Show it is fixed to the top */
}

.icono-navbar
{
    width: 100%;
    background-color: #343a40;
    right: 0px;
    left: 0px;
    height: 100px;
}

.slider
{
    height: 879px;
    background-color: #1D71AA;
}


.servicios
{
    height: 800px;
    background-color: #12AF98;
}

.equipos
{
    height: 400px;
    background-color: #1D71AA;
}

.nosotros
{
    height: 400px;
    background-color: #12AF98;
}

.contactos
{
    height: 400px;
    background-color: #1D71AA;
}

.footer
{
    height: 70px;
    background-color: #12AF98;
}


/* start nagivation */
.navbar-default
{
    background: #fff;
    border: none;
    margin: 0 !important;
    padding: 0;
}
.navbar-default .navbar-brand
{
    color: rgba(14, 236, 162, 0.82);
}

.navbar-default .navbar-brand:hover
{
    color:#FFFFFF;
}
.navbar-default .navbar-nav li a
{
    font-size: 18px;
    line-height: 35px;
}

.navbar-default .navbar-nav li a
{
    color: #FFFFFF;
}

.navbar-default .navbar-nav li a:hover
{
    color:  rgba(14, 236, 162, 0.82);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: rgba(14, 236, 162, 0.82);
background-color: transparent;
}
.navbar-default .navbar-toggle
{
    border: none;
    padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar
{
    background: rgba(14, 236, 162, 0.82);
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */
